
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300&display=swap');

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body
{
	background: #56baed;

}
.select_box,.play_board,.result_box
{

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

}
.select_box
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #fff;
	max-width: 330px;
	width: 100%;
	padding: 20px 25px 25px;
	transition: .3s;
	/*display: none;*/
}
.select_box.hide
{
	opacity: 0;
	pointer-events: none;
	display: none;
	transform: translate(-50%,-50%) scale(.9);
	transition: .5s;
}
.select_box header
{
	font-size: 30px;
	font-weight: 600;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;

}

.select_box .title
{
	margin: 20px 0;
}
.select_box .options
{
	display: flex;
	width: 100%;
}


.select_box .options button
{
	width: 100%;
	font-size: 18px;
	font-weight: 500;
	padding: 8px 0;
	border: none;
	outline: none;
	background: #56baed;
	border-radius: 5px;
	color: #fff;
	margin: 0 10px;
	transition: .5s;cursor: pointer;
}
.result_box .btn button:hover,
.select_box .options button:hover
{
	transform: scale(.96);
}

.play_board 
{
	display: none;
	pointer-events: none;
	transform: translate(-50%,-50%) scale(.5);
	transition: .5s;

}
.play_board.show
{
	display: block;
	pointer-events: auto;	
	transform: translate(-50%,-50%) scale(1);
	transition: .5s;
}
.play_board .details
{
	background: #fff;
	padding: 7px;
	border-radius: 5px;
}
.play_board .details .players
{
	display: flex;
	width: 100%;
	justify-content: space-between;
	position: relative;
	transition: .4s;
}

.play_board .details span
{
	/*background:red;*/
	width: 100%;
	padding: 7px 0;
	border-radius: 5px;
	font-size: 19px;
	font-weight: 500;
	cursor: default;
	width: 100%;
	color: #56baed;
	text-align: center;z-index: 5;
	transition: .3s;
}
 .details span:first-child
 {
 	color: #fff;
 }
.play_board .details span.active
{
	background: #56baed;
	color: #fff;
}
.details .slider
{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 50%;
	background: #56baed;
	border-radius: 5px;z-index: 2;
	transition: 1s;
}
 .details span:first-child
 {
 	color: #fff;
 }

.players.active span:first-child{
	color: #56baed;
}
.players.active span:nth-child(2){
	color: #fff;
}
.players.active .slider{
	left: 50%;
}
.play_board .play_area
{
	margin-top: 20px;
}
.play_board section 
{
	display: flex;
}
.play_board section span
{
	display: block;
	height: 80px;
	width: 80px;
	border-radius: 5px;
	margin: 2px;
	background: #fff;
	color: #56baed;
	font-size: 40px;
	text-align: center;
	line-height: 80px;
}

.result_box
{
	background: #fff;
	padding: 20px;
	border-radius: 5px;
	max-width: 350px;
	width: 100%;
	display: none;
	pointer-events: none;
	transform: translate(-50%,-50%);
}
.result_box.show
{
	display: block;
	pointer-events: auto;
}
.result_box .won_text
{
	font-size: 25px;
	font-weight: 500;
	display: flex;
}
.result_box .won_text p
{
	font-weight: 600;
	margin: 0 5px;

}
.result_box .btn
{
	display: flex;
	margin-top: 20px;
	justify-content: center;
}
.result_box .btn button
{
	/*width: 100%;*/
	font-size: 18px;
	font-weight: 500;
	padding: 8px 20px;
	border: none;
	outline: none;
	background: #56baed;
	border-radius: 5px;
	color: #fff;
	margin: 0 10px;
	transition: .5s;cursor: pointer;
}
